.right-side {
	a {
		&:hover,
		&:active,
		&:visited {
			background-color: lighten(@main-color, 10%);
		}
	}
}

article {
	.read-more a{
		&:hover {
			background: @main-bg;
			color: @main-color;
			cursor: pointer;
		}
	}
}

@media (max-width: 960px) {
	.hero {
	    background-position: center right;
	}
	section {
		width: 100%;
	}
}

@media (max-width: 768px) {
	article {
		img {
			width: 100%;
			display: block;
		}
		.desc,
		.hot & .desc {
			width: 100%;
		    position: relative;
		    top: auto;
		    left: auto;
		    float: none;
		}
	}
}

@media (max-width: 400px) {
	.left-side .logo, .right-side a {
		padding: 0 10px;
	}
}